/*******

- font-face
- keyframes
- global
- nav 
- landing
- about
- tracks
- schedule
- faq
- sponsors
- contact
- breakpoints

*******/

/* ------------------------------------------------------------ *\
	font-face
\* ------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

/* ------------------------------------------------------------ *\
	keyframes
\* ------------------------------------------------------------ */
@keyframes rotateAround {
	0% { width: 0; height: 1px; top: 0; left: 80%; }
	20% { width: 20%; height: 1px; top: 0; left: 80%; }
	35% { width: 20%; height: 50%; top: 0; left: 99%; }
	50% { width: 20%; height: 100%; top: 0; left: 99%; }
	60% { width: 50%; height: 100%; top: 95%; left: 60%; opacity: 1; }
	100% { width: 0%; height: 100%; top: 95%; left: -20%; opacity: 0; }
}

@keyframes rotateAroundBottom {
	0% { width: 0; height: 1px; bottom: 0; right: 80%; }
	20% { width: 20%; height: 1px; bottom: 0; right: 80%; }
	35% { width: 20%; height: 50%; bottom: 0; right: 99%; }
	50% { width: 20%; height: 100%; bottom: 0; right: 99%; }
	60% { width: 50%; height: 100%; bottom: 95%; right: 60%; opacity: 1; }
	100% { width: 0%; height: 100%; bottom: 95%; right: -20%; opacity: 0; }
}

@keyframes fadeInOut {
	0% { transform: translateX(0); opacity: 1; }
	50% { transform: translateX(70%); opacity: 0; }
	51% { transform: translateX(-100%); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes zoomIn {
	0% { transform: scale(.4); }
	4% { transform: scale(.9); }
	100% { transform: scale(1); }
}

@keyframes blink {
	0% { background: #091822; }
	20%, 100% { background: #d8d7d9; }
}

@keyframes blinkSec {
	0% { transform: scale(.8); opacity: 1; visibility: visible; }
	100% { transform: scale(1); opacity: 1; visibility: visible; }
}

@keyframes blinkTer {
	0% { opacity: 1; visibility: visible; }
	100% { opacity: 1; visibility: visible; }
}

@keyframes rotate {
	0%, 100% { transform: scaleX(0); }
	50% { transform: scaleX(-1); }
}

@keyframes move {
	0% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
	20% { transform: translate(-50%, -50%) scale(1.02) rotate(25deg); }
	40% { transform: translate(-50%, -50%) scale(0.97) rotate(48deg); }
	60% { transform: translate(-50%, -50%) scale(0.94) rotate(32deg); }
	80% { transform: translate(-50%, -50%) scale(1.06) rotate(67deg); }
	100% { transform: translate(-50%, -50%) scale(1) rotate(44deg); }
}

@keyframes movePrimary {
	0% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
	20% { transform: translate(-50%, -50%) scale(1.02) rotate(-25deg); }
	40% { transform: translate(-50%, -50%) scale(0.97) rotate(-48deg); }
	60% { transform: translate(-50%, -50%) scale(0.94) rotate(-32deg); }
	80% { transform: translate(-50%, -50%) scale(1.06) rotate(-67deg); }
	100% { transform: translate(-50%, -50%) scale(1) rotate(-44deg); }
}

@keyframes moveSquare {
	0%, 100% { transform: translate(-50%, -50%) scale(.95) rotate(29deg) rotateX(0deg); }
	20% { transform: translate(-50%, -50%) scale(1) rotate(29deg) rotateX(5deg); }
	40% { transform: translate(-50%, -50%) rotate(30deg) rotateX(7deg); }
	60% { transform: translate(-50%, -50%) rotate(30deg) rotateX(-5deg); }
	80% { transform: translate(-50%, -50%) rotate(30deg) rotateX(-12deg); }
}

@keyframes moveSquarePrimary {
	0%, 100% { transform: translate(-50%, -50%) scale(.95) rotate(61deg) rotateX(0deg); }
	20% { transform: translate(-50%, -50%) scale(1) rotate(61deg) rotateX(3deg); }
	40% { transform: translate(-50%, -50%) rotate(60deg) rotateX(8deg); }
	60% { transform: translate(-50%, -50%) rotate(60deg) rotateX(-5deg); }
	80% { transform: translate(-50%, -50%) rotate(60deg) rotateX(-12deg); }
}

@keyframes scaleCircle {
	0%, 100% { transform: translate(-50%, -50%) scale(1); }
	33% { transform: translate(-50%, -50%) scale(1.1); }
	66% { transform: translate(-50%, -50%) scale(.9); }
}

@keyframes translateLeft {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(-200%, -50%); }
}

@keyframes translateRight {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(150%, -50%); }
}

@keyframes translateTop {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(-50%, -200%); }
}

@keyframes translateBottom {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(-50%, 100%); }
}

@keyframes translateTopLeft {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(-150%, -200%); }
}

@keyframes translateTopRight {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(50%, -200%); }
}

@keyframes translateBottomLeft {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(-150%, 100%); }
}

@keyframes translateBottomRight {
	0% { transform: translate(-50%, -50%); }
	100% { transform: translate(50%, 100%); }
}

@-webkit-keyframes slideLeft {
  0% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@keyframes slideLeft {
  0% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@-webkit-keyframes slideDown {
  0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@keyframes slideDown {
  0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@keyframes scaleIn {
  0% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
}

@-webkit-keyframes scaleIn {
  0% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
  }
}

@-webkit-keyframes slideUp {
  0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@keyframes slideUp {
  0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      opacity: 0
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

/* ------------------------------------------------------------ *\
	global
\* ------------------------------------------------------------ */
html {
  height: 100%;
}

body {
  background-color: #091822;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 36px 32px 32px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-bottom: 1px solid #E5E5E5; */
}

#section-title {
  color: #091822;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  padding-top: 60px;
}

#mlh-trust-badge {
  position: fixed;
  top: 0;
  left: 50px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
}

a:link, :visited, :hover, :active {
  text-decoration: none !important;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------------ *\
	nav
\* ------------------------------------------------------------ */
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: right;
}

.nav-item {
  float: right;
  text-align: center;
  font-weight: 500;
  color: gray;
  height: 60px;
  padding: 20px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: translate(-30px);
  -moz-transform: translate(-30px);
  -o-transform: translate(-30px);
  transform: translate(-30px);
  animation: slideDown 200ms ease 750ms 1 normal both running;
}

#nav-link {
  color: #fff;
}

/* ------------------------------------------------------------ *\
	landing
\* ------------------------------------------------------------ */
.landing-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 28vh;
  padding-left: 5vw;
  padding-bottom: 23vh;
  margin-left: 14.5%;
}

h1 {
  color: #fff;
  -webkit-animation: scaleIn 200ms ease 800ms 1 normal both running;
  animation: scaleIn 200ms ease 750ms 1 normal both running;
}

h3 {
  color: #fff;
  -webkit-animation: scaleIn 200ms ease 800ms 1 normal both running;
  animation: scaleIn 200ms ease 750ms 1 normal both running;
}

.details {
  margin-top: 18px;
}

button {
  margin-top: 19vh;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  background-color: #011118;
  color: white !important;
  display: -webkit-inline-box !important;
  font-size: 16px !important;
  font-weight: 800;
  justify-content: center !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-radius: 4px !important;
  padding: 18px 39px !important;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
  background-image: linear-gradient(90deg,#a333c8 0,#a33377 51%,#a333c8);
  background-size: 200% auto;
  -webkit-animation: slideUp 200ms ease 750ms 1 normal both running;
  animation: slideUp 200ms ease 750ms 1 normal both running;
}

button:hover:before {
  /* color: #fff; */
  animation: rotateAround 1s ease-out;
}

button:hover:after {
  /* color: #fff; */
  animation: rotateAroundBottom 1s ease-out;
}

button:hover {
  opacity: 0.95;
  color: #fff;
  background-image: linear-gradient(90deg,#a333c8 0,#a33377 51%,#a333c8);
  background-size: 400% auto;
}

.landing-picture {
  right: 0;
  padding-right: 15%;
  position: absolute;
}

/******* about *******/
.about-container {
  background: #ffffff;
}

img.social-good {
  width: 100%;
  height: auto;
}

/* ------------------------------------------------------------ *\
	tracks
\* ------------------------------------------------------------ */
.tracks-container {
  text-align: center;
  background-color: #ffffff;
}

.tracks-picture {
  padding-bottom: 40px;
}

/* ------------------------------------------------------------ *\
	schedule
\* ------------------------------------------------------------ */
.schedule-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #091822;
  background: #ffffff;
}

.schedule-content {
	width: 100%;
	height: 60vh;
}

.day {
	display: inline-block;
	height: 80vh;
	margin: 0 auto;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
}

.day-title {
  font-size: 20px;
  text-transform: uppercase;
}

.day-date {
	font-size: 45px;
	padding-bottom: 20px;
	font-weight: 600;
	line-height: 40px;
}

#event {
	height: 55px;
	width: 240px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

#event > p {
	position: absolute;

	-webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, -10px);
    -o-transform: translate(10px, -10px);
	transform: translate(10px, -10px);
}

#time, #details {
	display: inline-block;
}

#time {
	font-size: 35px;
	font-weight: 800;
	width: 40px;
	line-height: 40px;
	height: 40px;
	float: left;
}

#time-box {
	border-top: 2px solid white;
	position: absolute;
	width: 100px;
	height: 30px;

	-webkit-transform: translate(-55px, -5px);
    -moz-transform: translate(-55px, -5px);
    -o-transform: translate(-55px, -5px);
	transform: translate(-55px, -5px);
}

#time-box > p {
	position: absolute;
	margin: 0 auto;
	left: 0;
	top: 0;
	font-weight: 800;
}

#details {
	width: 200px;
	float: left;
}

#event-title, #event-msg {
	float: left;
	width: 200px;
	text-align: left;
	margin-left: 20px;
}

#event-title {
	font-weight: 800;
	font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}

#event-msg {
  font-weight: 300;
  font-size: 13.9px;
  line-height: 1.5px;
  margin-top: 2.5px;
  letter-spacing: 0.3px;
}

/******* faq *******/
.faq-container {
  text-align: center;
  background-color: #ffffff;
}

#faq-content {
	padding:30px;
}

.col {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-justify-content: center;
	-moz-box-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-box-align-items: flex-start;
	-moz-box-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cards {
	color: #091822;
	width: 450px;
	height: auto;
	padding: 20px;
	font-size: 15px;
	text-align: justify;
	margin-left: 20px;
  margin-right:20px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.cards .question {
	font-weight: 600;
	font-size: 20px;
}

/* ------------------------------------------------------------ *\
	sponsors
\* ------------------------------------------------------------ */
.sponsors-container {
  text-align: center;
  background-color: #FFFFFF;
}

/* ------------------------------------------------------------ *\
	contact
\* ------------------------------------------------------------ */
.contact-container {
  text-align: center;
  background: #091822;
  padding-top: 170px;
}

img.logo-picture {
  margin-top: -80px;
  margin-bottom: 40px;
  width: auto;
  height: 100px;
}

#footer-content {
  font-size: 2em;
  width: 100%;
}

#footer-content > a {
  color: rgba(255,255,255,.95);
  padding: 0 1%;
  transition: all .2s ease;
}

#footer-content > a:hover {
  opacity: 0.75;
}

div#copyright {
  margin-top: 20px;
  margin-bottom: -18px;
}

span {
  color: #cccccc;
  font-size: 0.9em;
  font-weight: 500;
}

/* ------------------------------------------------------------ *\
	breakpoints
\* ------------------------------------------------------------ */
@media screen and (max-width: 725px) {
  .schedule-content {
      width: 100%;
      height: 175vh;
  }
}
