/*******

- nav 
- landing
- about
- tracks
- schedule
- faq
- sponsors
- contact

*******/


/******* global *******/
html {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-bottom: 1px solid #E5E5E5; */
}

#section-title {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  padding-top: 60px;
}

#mlh-trust-badge {
  position: fixed;
  top: 0;
  left: 50px;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
}

a:link, :visited, :hover, :active {
  text-decoration: none !important;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******* nav *******/
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: right;
}

.nav-item {
  float: right;
  text-align: center;
  font-weight: 800;
  color: gray;
  height: 60px;
  padding: 20px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-transform: translate(-30px);
  -moz-transform: translate(-30px);
  -o-transform: translate(-30px);
  transform: translate(-30px);
}

#nav-link {
  color: rgba(64,64,64,.5);
}

/******* landing *******/
.landing-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 28vh;
  padding-left: 5vw;
  padding-bottom: 23vh;
  margin-left: 14.5%;
}

.details {
  margin-top: 18px;
}

button {
  margin-top: 19vh;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  background-color: #303a77;
  color: white !important;
  display: -webkit-inline-box !important;
  font-size: 16px !important;
  font-weight: 800;
  justify-content: center !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-radius: 4px !important;
  padding: 18px 39px !important;
  text-transform: capitalize;
  cursor: pointer;
}

button:hover {
  opacity: 0.95;
}

.landing-picture {
  right: 0;
  padding-right: 15%;
  position: absolute;
}

/******* about *******/
.about-container {
  text-align: center;
  background: #2f4360 -webkit-gradient(linear,left bottom,left top,from(#424f9b),to(#303a77));
  background: #2f4360 linear-gradient(0deg,#424f9b 0,#303a77);
}

/******* tracks *******/
.tracks-container {
  text-align: center;
}

.tracks-picture {
  padding-bottom: 40px;
}

/******* schedule *******/
.schedule-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: #2f4360 -webkit-gradient(linear,left bottom,left top,from(#424f9b),to(#303a77));
  background: #2f4360 linear-gradient(0deg,#424f9b 0,#303a77);
}

.schedule-content {
	width: 100%;
	height: 100vh;
}

.day {
	display: inline-block;
	width: 30vh;
	height: 80vh;
	margin: 0 auto;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
}

.day-title {
	font-size: 20px;
}

.sunday {
	letter-spacing: 2.5px;
}

.day-date {
	font-size: 45px;
	padding-bottom: 20px;
	font-weight: 600;
	line-height: 40px;
}

#event {
	height: 40px;
	width: 240px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

#event > p {
	position: absolute;

	-webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, -10px);
    -o-transform: translate(10px, -10px);
	transform: translate(10px, -10px);
}

#time, #details {
	display: inline-block;
}

#time {
	font-size: 35px;
	font-weight: 800;
	width: 40px;
	line-height: 40px;
	height: 40px;
	float: left;
}

#time-box {
	border-top: 2px solid white;
	position: absolute;
	width: 100px;
	height: 30px;

	-webkit-transform: translate(-55px, -5px);
    -moz-transform: translate(-55px, -5px);
    -o-transform: translate(-55px, -5px);
	transform: translate(-55px, -5px);
}

#time-box > p {
	position: absolute;
	margin: 0 auto;
	left: 0;
	top: 0;
	font-weight: 800;
}

#details {
	width: 200px;
	float: left;
}

#event-title, #event-msg {
	float: left;
	width: 200px;
	text-align: left;
	margin-left: 20px;
}

#event-title {
	font-weight: 800;
	font-size: 16px;
	line-height: 25px;
}

#event-msg {
	font-weight: 100;
	font-size: 14px;
  line-height: 1px;
  margin-top: 2px;
}

/******* faq *******/
.faq-container {
  text-align: center;
  background-color: #fff;
}

#faq-content {
	padding:30px;
}

.col {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-justify-content: center;
	-moz-box-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-box-align-items: flex-start;
	-moz-box-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.cards {
	color: #5c67a9;
	width: 450px;
	height: auto;
	padding: 20px;
	font-size: 15px;
	text-align: justify;
	margin-left: 20px;
  margin-right:20px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.cards .question {
	font-weight: 600;
	font-size: 20px;
}

/******* sponsors *******/
.sponsors-container {
  text-align: center;
  background-color: #233240;
}

/******* contact *******/
.contact-container {
  text-align: center;
  background: #2f4360 -webkit-gradient(linear,left bottom,left top,from(#424f9b),to(#303a77));
  background: #2f4360 linear-gradient(0deg,#424f9b 0,#303a77);
}

#footer-content {
  font-size: 2em;
  width: 100%;
}

#footer-content > a {
  color: rgba(255,255,255,.95);
  padding: 0 1%;
  transition: all .2s ease;
}

#footer-content > a:hover {
  opacity: 0.75;
}



/******* breakpoints *******/
@media screen and (max-width: 725px) {
  .schedule-content {
      width: 100%;
      height: 175vh;
  }
}
